:root {
    --background: #ffffff;
    --foreground: #000000;
    --green: #43c466;
    --orange: #ffb540;
    --blue: #677d8b;
    --grey: #b8b8b8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background);
    color: var(--blue);
    line-height: 1.6;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* HEADER */
    & header {
        background-color: var(--background);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        max-height: 110px;
        transition: opacity 0.3s ease, transform 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;

        &.active {
            position: relative;
        }

        &.hidden {
            opacity: 0;
            transform: translateY(-100%);
            pointer-events: none;
        }

        & .logo-link {
            & .logo {
                height: 60px;

                /* RESPONSIVE */
                @media screen and (max-width: 950px) {
                    height: 30px;
                }

                &:hover {
                    opacity: 0.75;
                }
            }
        }

        & .hamburger-icon {
            width: 30px;
            height: 30px;
            position: fixed;
            top: 15px;
            right: 15px;
            cursor: pointer;
            z-index: 2;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & span {
                display: block;
                width: 30px;
                height: 2px;
                background-color: var(--orange);
            }
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                gap: 15px;
                align-items: center;
                justify-content: space-between;

                @media screen and (max-width: 950px) {
                    flex-direction: column;
                }

                & #lang-switch {
                    padding: 8px;
                    border: 1px solid var(--blue);
                    border-radius: 5px;
                    background-color: #fff;
                    color: var(--blue);
                    font-family: "Roboto", sans-serif;
                }

                & li a {
                    text-decoration: none;
                    color: var(--blue);
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                    transition: color 0.2s;

                    &:hover,
                    &.active {
                        color: var(--orange);
                    }

                    &.icons img {
                        width: 15px;
                        height: 15px;
                        object-fit: contain;
                    }

                    &.icons img {
                        width: 15px;
                        height: 15px;
                        object-fit: contain;
                    }
                }
            }

            @media screen and (max-width: 950px) {
                flex-direction: column;
                gap: 5px;
                padding: 30px;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                background: var(--background);
                transform: translateY(-100%);
                transition: all 0.3s ease;
                border-bottom: 1px solid var(--orange);
            }

            &.visible {
                transform: translateY(0);
            }
        }
    }

    /* MAIN */
    & main {
        display: flex;
        flex-direction: column;

        /* SEPARATION ENTRE SECTION */
        & .separator {
            width: 75%;
            margin: 30px auto;
            height: 1px;
            background-color: var(--grey);
            border-radius: 2px;
            opacity: 0.25;
        }

        /* HERO SECTION */
        .hero {
            background: url("../img/banner.webp") no-repeat center/cover;
            background-attachment: fixed;
            color: var(--background);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            height: 100vh;
            position: relative;

            @media screen and (max-width: 950px) {
                padding-top: 120px;
                align-items: flex-start;
                justify-content: flex-start;
            }

            & .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(
                    135deg,
                    var(--green) 0%,
                    var(--orange) 100%
                );
                opacity: 0.25;
                pointer-events: none;
            }

            & h1 {
                font-family: "Roboto", sans-serif;
                font-size: 2.5rem;
                margin-bottom: 20px;
                z-index: 1;
                position: relative;

                @media screen and (max-width: 950px) {
                    font-size: 30px;
                    line-height: 120%;
                }
            }

            & .slogan {
                font-size: 1.2rem;
                margin-bottom: 30px;
                z-index: 1;
                position: relative;
            }

            & .cta-buttons {
                display: flex;
                gap: 20px;
                justify-content: center;
                z-index: 1;
                position: relative;

                @media screen and (max-width: 950px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    width: 100%;
                }

                & .btn {
                    padding: 10px 20px;
                    border-radius: 5px;
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    transition: background-color 0.3s;

                    @media screen and (max-width: 950px) {
                        width: 100%;
                    }
                }
            }

            & .primary {
                background-color: var(--orange);
                color: var(--background);
            }

            & .primary:hover {
                filter: brightness(0.85);
            }

            & .secondary {
                background-color: var(--grey);
                color: var(--background);
            }

            & .secondary:hover {
                background-color: #536a77;
            }
        }

        /* BACKGROUND POUR CLIP PATH WAVES */
        & .background {
            background: var(--background);
        }

        /* ABOUT */
        & .about {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--orange);
            clip-path: polygon(
                100% 0%,
                0% 0%,
                0% 94.75%,
                2% 94.14%,
                4% 93.68%,
                6% 93.4%,
                8% 93.34%,
                10% 93.48%,
                12% 93.82%,
                14% 94.34%,
                16% 95.01%,
                18% 95.78%,
                20% 96.61%,
                22% 97.44%,
                24% 98.22%,
                26% 98.91%,
                28% 99.45%,
                30% 99.82%,
                32% 99.99%,
                34% 99.95%,
                36% 99.71%,
                38% 99.27%,
                40% 98.67%,
                42% 97.95%,
                44% 97.14%,
                46% 96.31%,
                48% 95.49%,
                50% 94.75%,
                52% 94.14%,
                54% 93.68%,
                56% 93.4%,
                58% 93.34%,
                60% 93.48%,
                62% 93.82%,
                64% 94.34%,
                66% 95.01%,
                68% 95.78%,
                70% 96.61%,
                72% 97.44%,
                74% 98.22%,
                76% 98.91%,
                78% 99.45%,
                80% 99.82%,
                82% 99.99%,
                84% 99.95%,
                86% 99.71%,
                88% 99.27%,
                90% 98.67%,
                92% 97.95%,
                94% 97.14%,
                96% 96.31%,
                98% 95.49%,
                100% 94.75%
            );

            @media screen and (max-width: 950px) {
                flex-direction: column;
                clip-path: none;
            }

            & .text,
            & .illustration {
                flex: 1;
                height: 100vh;
            }

            & .text {
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: var(--background);

                @media screen and (max-width: 950px) {
                    padding: 15px;
                }

                p span {
                    font-weight: 600;
                }

                ul {
                    padding-left: 15px;
                    li {
                        list-style-type: "- ";
                    }
                }

                button {
                    width: fit-content;
                    padding: 15px 30px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    background: var(--background);
                    color: var(--orange);
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.75;
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }
            }

            & .illustration img {
                width: 100%;
            }
        }

        /* ACTUALITES */
        & .news {
            padding: 30px;
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media screen and (max-width: 950px) {
                padding: 15px;
            }

            & h2 {
                font-size: 30px;
                color: var(--orange);
                font-weight: 600;
            }

            & .filters {
                display: flex;
                gap: 15px;

                @media screen and (max-width: 950px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                & .filter-btn {
                    padding: 5px 15px;
                    border: 1px solid #657d8d;
                    background-color: #fff;
                    color: #657d8d;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &.active,
                    &:hover {
                        background-color: var(--orange);
                        color: var(--blue);
                        border-color: var(--orange);
                    }
                }
            }

            & .news-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 15px;

                .news-item {
                    background-color: #b8b8b850;
                    padding: 15px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 15px;

                    & h3 {
                        font-family: "Roboto", sans-serif;
                        font-size: 1.5rem;
                    }

                    img {
                        width: 100%;
                        aspect-ratio: 16/9;
                        border-radius: 8px;
                        object-fit: cover;
                    }

                    & .read-more {
                        color: var(--background);
                        background: var(--orange);
                        padding: 5px 15px;
                        border-radius: 5px;
                        text-decoration: none;
                        font-weight: 600;

                        &:hover {
                            opacity: 0.75;
                        }
                    }
                }
            }
        }

        /* EVENEMENTS */
        & .agenda {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px;

            @media screen and (max-width: 950px) {
                padding: 15px;
            }

            & .no-events {
                font-style: italic;
                color: var(--grey);
            }

            & h2 {
                font-size: 30px;
                color: var(--orange);
            }

            & .events {
                display: flex;
                flex-direction: column;
                gap: 15px;
                max-width: 50%;

                @media screen and (max-width: 950px) {
                    max-width: 100%;
                }

                & .event {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 5px;
                    background: #b8b8b825;
                    border-radius: 10px;

                    & .date-time {
                        width: 33%;
                        aspect-ratio: 1/1;
                        background: #ffb55025;
                        border-radius: 8px;
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;

                        & p {
                            font-size: 14px;
                            color: var(--blue);
                        }

                        & p:nth-child(2) {
                            font-size: 22px;
                            color: var(--orange);
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        /* PARTENAIRES */
        & .partenaires {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;

            @media screen and (max-width: 950px) {
                padding: 15px;
            }

            & h2 {
                font-size: 30px;
                color: var(--orange);
            }

            & .icons {
                width: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px;

                a img {
                    width: 100%;
                    max-width: 150px;
                }
            }
        }

        /* CONTACT */
        & .contact {
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            background: var(--orange);
            color: var(--background);
            clip-path: polygon(
                100% 0%,
                0% 0%,
                0% 94.75%,
                2% 94.14%,
                4% 93.68%,
                6% 93.4%,
                8% 93.34%,
                10% 93.48%,
                12% 93.82%,
                14% 94.34%,
                16% 95.01%,
                18% 95.78%,
                20% 96.61%,
                22% 97.44%,
                24% 98.22%,
                26% 98.91%,
                28% 99.45%,
                30% 99.82%,
                32% 99.99%,
                34% 99.95%,
                36% 99.71%,
                38% 99.27%,
                40% 98.67%,
                42% 97.95%,
                44% 97.14%,
                46% 96.31%,
                48% 95.49%,
                50% 94.75%,
                52% 94.14%,
                54% 93.68%,
                56% 93.4%,
                58% 93.34%,
                60% 93.48%,
                62% 93.82%,
                64% 94.34%,
                66% 95.01%,
                68% 95.78%,
                70% 96.61%,
                72% 97.44%,
                74% 98.22%,
                76% 98.91%,
                78% 99.45%,
                80% 99.82%,
                82% 99.99%,
                84% 99.95%,
                86% 99.71%,
                88% 99.27%,
                90% 98.67%,
                92% 97.95%,
                94% 97.14%,
                96% 96.31%,
                98% 95.49%,
                100% 94.75%
            );

            @media screen and (max-width: 950px) {
                clip-path: none;
                padding: 15px;
            }

            & h2 {
                font-size: 30px;
                color: var(--background);
            }

            & .infos {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 30px;

                & .contact-info,
                & .contact-form {
                    flex: 1;
                    width: 50%;
                    height: 100%;
                    background: #ffffff25;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 15px;
                    border-radius: 8px;

                    @media screen and (max-width: 950px) {
                        width: 100%;
                    }
                }

                & .contact-info a {
                    color: var(--background);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }

                & .contact-form form {
                    flex: 1;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    & input,
                    & textarea {
                        padding: 5px;
                        border: 1px solid transparent;
                        border-radius: 5px;
                        background-color: #ffffff50;
                        transition: border-color 0.3s;
                        outline: none;

                        &:focus {
                            border: 1px solid var(--blue);
                        }
                    }

                    & textarea {
                        resize: vertical;
                    }

                    & button {
                        all: unset;
                        padding: 15px 30px;
                        background: var(--background);
                        color: var(--orange);
                        border-radius: 8px;
                        cursor: pointer;
                        max-width: fit-content;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    /* FOOTER */
    & footer {
        background: var(--background);
        color: var(--blue);
        padding: 30px;
        min-height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 950px) {
            padding: 15px;
        }

        & .footer-infos {
            width: 100%;
            display: flex;
            align-items: center;

            @media screen and (max-width: 950px) {
                flex-direction: column;
            }

            & .infos {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 15px;

                & a {
                    color: var(--orange);
                    text-decoration: none;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            & img {
                width: 120px;
                object-fit: contain;
            }
        }

        & .copyright {
            width: 100%;
            text-align: center;
            color: var(--grey);
        }
    }

    /* PAGE DE LOGIN */
    & .login {
        width: 100%;
        flex: 1;
        min-height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;

        & form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 25%;

            & input {
                padding: 15px;
                border: 1px solid var(--grey);
                border-radius: 8px;
                background-color: #b8b8b825;
                transition: border-color 0.3s;
                outline: none;

                &:focus {
                    border: 1px solid var(--orange);
                }
            }

            & button {
                all: unset;
                padding: 15px 30px;
                background: var(--orange);
                color: var(--background);
                border-radius: 8px;
                cursor: pointer;
                max-width: fit-content;
                font-weight: 600;
            }
        }
    }

    & .admin-dashboard {
        width: 100%;
        min-height: 65vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;

        & ul {
            display: flex;
            align-items: center;
            flex: 1;
            gap: 15px;
            flex-wrap: wrap;

            & li {
                list-style-type: none;

                & a {
                    padding: 5px 15px;
                    background: var(--background);
                    border-radius: 8px;
                    color: var(--orange);
                    text-decoration: none;
                    border: 1px solid var(--orange);

                    &:hover {
                        background: var(--orange);
                        color: var(--background);
                    }
                }
            }
        }
    }
}
